// @import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-gray-50;
  color: $color-gray-900;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Utility classes
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @media (min-width: $breakpoint-sm) {
    padding: 0 $spacing-lg;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 $spacing-2xl;
  }
}

.section {
  padding: 5rem 0;

  @media (min-width: $breakpoint-lg) {
    padding: 8rem 0;
  }
}